---
import FormLayout from '../layouts/FormLayout.astro';
import QualificationForm from '../components/interactive/QualificationForm';
---

<FormLayout title="Qualification Form">
	<div class="p-4">
	<QualificationForm client:load />
</div>
</FormLayout>
