---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'table'> {}

const { class: tableClass, ...restTableProps } = Astro.props;
---
<div class="relative w-full overflow-auto">
  <table
    class={cn("w-full caption-bottom text-sm", tableClass)}
    {...restTableProps}
  >
    <slot />
  </table>
</div>