---
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-12 lg:py-32 xl:py-54">
    <Text
      tag="h1"
      variant="textBase"
      class="text-[#222222] dark:text-white font-medium"
    >
      Sign up to your account
    </Text>
  </Wrapper>
  <Wrapper variant="standard" class="py-12">
    <form
      class="border-t dark:border-white/10 border-borderAlt pt-2"
      action="#"
      method="POST"
    >
      <div class="grid grid-cols-1 gap-2 md:grid-cols-3">
        <div>
          <label for="email" class="sr-only">Name</label>
          <div>
            <input
              id="name"
              name="name"
              type="text"
              autocomplete="name"
              placeholder="Your name"
              aria-placeholder="Your name"
              required
              class="block w-full rounded-lg border h-8 dark:bg-white/5 border-borderAlt px-4 py-2 font-spline text-sm font-medium text-accent placeholder-borderAlt focus:border-zinc-500 focus:outline-none focus:ring-2 lg:px-6 focus:ring-zinc-600/50 disabled:opacity-50"
            />
          </div>
        </div>

        <div>
          <label for="email" class="sr-only">Email address</label>
          <div>
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="email"
              placeholder="email@example.com"
              aria-placeholder="email@example.com"
              required
              class="block w-full rounded-lg border h-8 dark:bg-white/5 border-borderAlt px-4 py-2 font-spline text-sm font-medium text-accent placeholder-borderAlt focus:border-zinc-500 focus:outline-none focus:ring-2 lg:px-6 focus:ring-zinc-600/50 disabled:opacity-50"
            />
          </div>
        </div>
        <Button size="medium" variant="primary">Sign up</Button>
      </div>

      <div class="flex items-center justify-end mt-2">
        <Text
          tag="a"
          variant="textSM"
          href="/login"
          title="link to your page"
          aria-label="your label"
          class="text-borderAlt hover:text-accent dark:text-borderAlt dark:hover:text-white font-medium"
          >Already have an account? Log in instead</Text
        >
      </div>
    </form>
  </Wrapper>
</section>
