---
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<footer>
  <Wrapper variant="standard" class="py-12">
    <div class="text-center">
      <Text
        tag="p"
        variant="textSM"
        class="text-zinc-500 dark:text-zinc-400"
      >
        © 2025 GenZen HQ – All Rights Reserved
      </Text>
    </div>
  </Wrapper>
</footer>
