---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Assets
import Logo from "@/components/global/Logo.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";

const navLinks = [
  {
    text: "Overview",
    href: "/system/overview",
  },
  {
    text: "Colors",
    href: "/system/colors",
  },
  {
    text: "Links",
    href: "/system/links",
  },
  {
    text: "Buttons",
    href: "/system/buttons",
  },
  {
    text: "Typography",
    href: "/system/typography",
  },
  {
    text: "Blog",
    href: "/blog/home",
  },
  {
    text: "Store",
    href: "/store/home",
  },
  {
    text: "Projects",
    href: "/projects/home",
  },
  {
    text: "Pricing",
    href: "/pricing",
  },
];
// Split the navLinks array into two columns
const navLinksByColumn = [
  navLinks.slice(Math.ceil(navLinks.length / 2)), // First column
  navLinks.slice(0, Math.ceil(navLinks.length / 2)), // Second column
];
---

<header>
  <Wrapper class="bg-backgroundLight dark:bg-black pt-14">
    <div class="flex flex-row items-center justify-between w-full">
      <Logo />
      <div class="ml-auto flex items-center gap-4">
        <ThemeToggle />
        {/* "Buy Simplexity" link and Menu button removed */}
      </div>
    </div>
  </Wrapper>
</header>
